[submodule "ReactiveCocoa"]
	path = ReactiveCocoa
	url = git@github.com:ReactiveCocoa/ReactiveCocoa.git
[submodule "ReactiveViewModel"]
	path = ReactiveViewModel
	url = git@github.com:ReactiveCocoa/ReactiveViewModel.git
[submodule "Rebel"]
	path = Rebel
	url = git@github.com:github/Rebel.git
[submodule "Archimedes"]
	path = Archimedes
	url = git@github.com:github/Archimedes.git
[submodule "BlocksKit"]
	path = BlocksKit
	url = git@github.com:zwaldowski/BlocksKit.git
[submodule "MAKVONotificationCenter"]
	path = MAKVONotificationCenter
	url = https://github.com/mikeash/MAKVONotificationCenter
[submodule "JAViewController"]
	path = JAViewController
	url = git@github.com:joshaber/JAViewController.git
